* {
    box-sizing: border-box;
    }
    
      body {
        background-color: rgb(144, 243, 210);
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
    
      header {
        background-color: #ffc107;
        padding: 20px;
        text-align: center;
      }
    
      h1 {
        margin: 0;
        font-size: 36px;
      }
    
      ol {
        list-style-type: none;
        padding: 0;
        margin: 20px;
      }
    
      ol li {
        margin-bottom: 10px;
      }
    
      ol li a {
        text-decoration: none;
        color: #333;
        font-size: 18px;
      }
    
      ol li a:hover {
        color: #ffc107;
      }
    
      h3 {
        margin: 20px;
        font-size: 24px;
      }